<div class="fixed left-0 top-0 flex h-full w-full items-center justify-center bg-black bg-opacity-50 py-5 px-3">
  <div class="max-h-full w-full max-w-xl overflow-y-auto sm:rounded-2xl bg-white dark:bg-slate-900 relative">
    <button (click)="sendComponentOn()" class="absolute right-4 top-3 font-bold dark:text-white">X</button>
    <div class="w-full">
      <div class="m-8 my-10 max-w-[400px] mx-auto">
        <div class="mb-5">
          <h2 class="text-3xl font-bold text-center dark:text-slate-300 mb-10">Change your password</h2>
          <form [formGroup]="changePasswordForm" class="w-full mx-auto px-2">
            <div class="w-full flex flex-col mb-4">
              <label for="name" class="text-lg dark:text-gray-300">Current Password</label>

              <input formControlName="userPassword" type="password"
                class="w-full border px-2 py-3 rounded-lg dark:text-slate-300 dark:bg-slate-800"
                placeholder="Enter your current password">
            </div>

            <div class="w-full flex flex-col mb-4 dark:text-gray-300">
              <label for="name" class="text-lg">New Password</label>

              <input formControlName="userNewPassword" type="password"
                class="w-full border px-2 py-3 rounded-lg dark:text-slate-300 dark:bg-slate-800"
                placeholder="Enter your new password">
            </div>

            <div class="w-full flex flex-col mb-4 dark:text-gray-300">
              <label for="name" class="text-lg">Confirm New Passoword</label>

              <input formControlName="confirmNewPassword" type="password"
                class="w-full border px-2 py-3 rounded-lg dark:text-slate-300 dark:bg-slate-800"
                placeholder="Confirm your new password">
            </div>

            <div *ngIf="errorMessage"
              class="w-full flex flex-col mb-4 p-2 bg-red-600 text-white text-center uppercase rounded-lg">
              <p class="font-semibold">{{errorMessage}}</p>
            </div>

            <div *ngIf="requestOk"
              class="w-full flex flex-col mb-4 p-2 bg-green-600 text-white text-center uppercase rounded-lg">
              <p class="font-semibold">Password updated successfully</p>
            </div>

            <div class="w-full flex flex-col mb-4 dark:text-gray-300">
              <input (click)="changeUserPassword()" type="submit" value="Save"
              class="px-6 py-2 bg-blue-600 font-semibold text-white rounded-lg mt-2 cursor-pointer mx-auto">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
