<header class="w-11/12 min-h-12 max-h-40 mx-auto mt-4 flex flex-col lg:max-h-12">

  <div class="w-full flex justify-between items-start">
    <div class="w-1/2 flex justify-start px-2 py-4">
      <img class="w-40 md:w-44" [src]="logoDarkImageUrl" alt="Logo DevChallenges" *ngIf="isDarkMode">
      <img class="w-40 md:w-44" [src]="logoLightImageUrl" alt="Logo DevChallenges" *ngIf="!isDarkMode">
    </div>

    <div class="w-1/3 sm:w-2/5 lg:w-2/12">
      <ul>
        <li class="cursor-pointer p-2 items-center gap-4 font-bold dark:text-white">
          <div class="flex justify-end items-center gap-4" (click)="toggleMenu()">
            <img [src]="profileImgUrl" alt="User Image" width="30">
            <p class="hidden lg:block">{{ userFullname ?? 'Username' }}</p>
            <svg xmlns="http://www.w3.org/2000/svg" [ngClass]="{ 'lg:hidden' : !isClicked }"
              class="icon icon-tabler icon-tabler-caret-down hidden lg:block" width="20" height="20" viewBox="0 0 24 24"
              stroke-width="1" [attr.stroke]="colorSvg" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M6 10l6 6l6 -6h-12" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" [ngClass]="{ 'lg:hidden' : isClicked }"
              class="icon icon-tabler icon-tabler-caret-up hidden lg:block" width="20" height="20" viewBox="0 0 24 24"
              stroke-width="1" [attr.stroke]="colorSvg" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M18 14l-6 -6l-6 6h12" />
            </svg>
          </div>
          <app-web-nav-menu [isClicked]="isClicked"></app-web-nav-menu>
        </li>
      </ul>

    </div>
  </div>

  <app-mobile-nav-menu [isClicked]="isClicked" ></app-mobile-nav-menu>
</header>
